<div>
  <a-form :form="form">
    <a-form-item label="Name">
      <a-input v-decorator="formFields.name" placeholder="Name" />
    </a-form-item>
    <a-form-item required label="Slug" class="input-slug">
      <a-input v-decorator="formFields.slug" placeholder="Slug">
        <span class="generateSlug" @click="generateSlug('name')" slot="addonBefore">Generate</span>
      </a-input>
    </a-form-item>
    <action-buttons @back="back" @submit="submit"></action-buttons>
  </a-form>
</div>
