<template>
  <a-row type="flex" justify="end">
    <a-button style="margin-right:10px;" type="danger" @click="back">Cancel</a-button>
    <a-button @click.prevent="submit" type="primary">Submit</a-button>
  </a-row>
</template>
<script lang='ts'>
import { Component, Vue, Emit } from "vue-property-decorator";
@Component({})
export default class ActionButtons extends Vue {
  @Emit()
  public submit() {}

  @Emit()
  public back() {}
}
</script>