<div>
    <a-tabs defaultActiveKey="1">
        <a-tab-pane tab="Data" key="1">
            <a-form :form="form">
                <a-row :gutter="15">
                    <a-col :span="24">
                        <div class="box">
                            <a-form-item label="Name">
                                <a-input v-decorator="formData.name" placeholder="Name" />
                            </a-form-item>
                            <a-form-item required label="Slug" class="input-slug">
                                <a-input v-decorator="formData.slug" placeholder="Slug">
                                    <span class="generateSlug" @click="generateSlug('name')"
                                        slot="addonBefore">Generate</span>
                                </a-input>
                            </a-form-item>
                            <a-row type="flex" justify="end">
                                <a-button style="margin-right:10px;" type="danger" @click="back">
                                    Cancel
                                </a-button>
                                <a-button @click.prevent="submit" type="primary">
                                    Submit
                                </a-button>
                            </a-row>
                        </div>
                    </a-col>
                </a-row>

            </a-form>
        </a-tab-pane>
        <a-tab-pane forceRender tab="Permissions" key="3">
            <a-form :form="form">
                <div class="box">
                    <a-form-item>
                        <permission :in-role="true" v-decorator="formData.permissions"></permission>
                    </a-form-item>
                    <action-buttons @back="back" @submit="submit"></action-buttons>
                </div>
            </a-form>
        </a-tab-pane>
    </a-tabs>
</div>