<div class="category-page">
    <a-row :gutter="15">
        <a-col :span="12">
            <div class="box">
                <a-alert message="Please select the category you want to add, delete or edit" type="info"
                    closeText="I understand" />
                <br>
                <a-row v-if="currentNode" class="action-buttons" :gutter="15">
                    <a-col :span="8">
                        <router-link :to="{name: 'product.categories.create'}">
                            <a-button :disabled="!nodeSelected" type="primary">
                                Create
                                <a-icon type="plus" />
                            </a-button>
                        </router-link>

                    </a-col>

                    <a-col :span="8">
                        <a-button @click="deleteCategory()" type="danger" ghost :disabled="!nodeSelected">
                            Delete
                            <a-icon type="delete" />
                        </a-button>
                    </a-col>
                    <a-col :span="8">
                        <a-button @click="deleteCategory(true)" type="danger" ghost :disabled="!nodeSelected">
                            Delete with children
                            <a-icon type="delete" />
                        </a-button>
                    </a-col>
                </a-row>
                <a-divider />

                <a-tree :selectedKeys="selectedNodes" class="category-tree" v-if="categoryList.length" @drop="onDrop"
                    draggable :defaultExpandAll="defaultExpandAll" @select="onSelect" :treeData="categoryList" />

            </div>
        </a-col>
        <a-col :span="12">
            <router-view></router-view>
        </a-col>
    </a-row>
</div>