<div>

    <a-form :form="form">
        <a-row :gutter="15">
            <a-col :span="16">
                <div class="box">
                    <a-form-item label="Name">
                        <a-input v-decorator="formData.name" placeholder="Name" />
                    </a-form-item>

                    <a-form-item required label="Slug" class="input-slug">
                        <a-input v-decorator="formData.slug" placeholder="Slug">
                            <span class="generateSlug" @click="generateSlug('name')" slot="addonBefore">Generate</span>
                        </a-input>
                    </a-form-item>
                    
                    <a-form-item label="Description">
                        <a-textarea :rows="4" v-decorator="formData.description" placeholder="Description" />
                    </a-form-item>
                    <a-form-item label="Cena">
                        <a-input-number class="width-100" type="number" v-decorator="formData.price"
                            placeholder="Price" />
                    </a-form-item>
                    <action-buttons @back="back" @submit="submit"></action-buttons>
                </div>
            </a-col>
            <a-col :span="8">
                <div class="box">
                    <a-form-item label="Thumbnail">
                        <file-chooser v-decorator="formData.thumbnail"></file-chooser>
                    </a-form-item>
                    <a-form-item label="Gallery">
                        <file-chooser v-decorator="formData.gallery"></file-chooser>
                    </a-form-item>
                    <a-form-item label="Status">
                        <a-select placeholder="Status" v-decorator="formData.status" class="width-100">
                            <a-select-option :value="1">Active</a-select-option>
                            <a-select-option :value="0">Inactive</a-select-option>
                        </a-select>
                    </a-form-item>
                    <a-form-item label="Categories">
                        <a-tree v-if="categories.length>0" class="width-100" 
                        :treeData="categories" 
                        v-decorator="formData.categories"
                        v-model="selectedCategories"
                        @check="categoryCheck" 
                        defaultExpandAll
                        checkStrictly 
                            checkable />
                    </a-form-item>
                </div>
            </a-col>
        </a-row>
    </a-form>
</div>
