<div>
    <a-form  :form="form">
        <a-row :gutter="15">
            <a-col :span="16">
                <div class="box">
                    <a-form-item label="Title">
                        <a-input v-decorator="formData.title" placeholder="Title" />
                    </a-form-item>
                    <a-form-item required label="Slug" class="input-slug">
                        <a-input v-decorator="formData.slug" placeholder="Slug">
                            <span class="generateSlug" @click="generateSlug('title')" slot="addonBefore">Generate</span>
                        </a-input>
                    </a-form-item>
                    <a-form-item label="Content">
                        <a-editor v-decorator="formData.content"/>
                    </a-form-item>
                    <action-buttons @back="back" @submit="submit"></action-buttons>
                </div>
            </a-col>
            <a-col :span="8">
                <div class="box">
                    <a-form-item label="Thumbnail">
                        <file-chooser v-decorator="formData.thumbnail"></file-chooser>
                    </a-form-item>
                    <a-form-item label="Category">
                        <a-select v-decorator="formData.category" placeholder="Category">
                            <a-select-option v-for="item in categories" :key="item._id" :value="item._id">
                                {{ item.name }}
                            </a-select-option>
                        </a-select>
                    </a-form-item>
                </div>
            </a-col>
        </a-row>

    </a-form>
</div>