<a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <sidebar :theme="theme" :collapsed="collapsed"></sidebar>

    <a-layout>
        <a-layout>
            <a-layout-header style="background: #fff; padding: 0">
                <!-- <a-switch
                :defaultChecked="false"
                @change="changeTheme"
              /> -->
                <a-icon class="trigger" :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                    @click="()=> collapsed = !collapsed" />
                <user-menu class="header-index-right"></user-menu>
            </a-layout-header>
            <breadcrumbs></breadcrumbs>
            <a-layout-content :style="{ margin: '12px 8px', padding: '12px',  minHeight: '280px' }">
                <!-- <slot /> -->
                <transition name="layout-transition" mode="out-in">
                    <router-view></router-view>
                </transition>
            </a-layout-content>
        </a-layout>

        <a-layout-footer style="text-align: center">Eribu ©2019</a-layout-footer>
    </a-layout>
</a-layout>

