<template>
    <div>
        <permission-item
            v-for="(item, index) in modulePermissions"
            :key="index"
            :item="item"
            @change="itemChanged"
            :in-role="inRole"
        ></permission-item>
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from 'vue-property-decorator';
import PermissionItem from "./PermissionItem.vue";
import PermissionItemInterface from "../interfaces/PermissionItemInterface";
import ModulePermissionInterface from '../interfaces/ModulePermissionInterface';
import _find from "lodash/find";
import _merge from "lodash/merge";

@Component({
    components: {
        "permission-item": PermissionItem,
    },
})
export default class Permission extends Vue {
    @Prop({default: false}) public inRole!: boolean;

    public modulePermissions: ModulePermissionInterface[] = [
        {
            label: "Deskop",
            name: "deskop",
            index: 0,
            create: 0,
            edit: 0,
            update: 0,
            delete: 0,
        },
        {
            label: "Media",
            name: "media",
            index: 0,
            create: 0,
            edit: 0,
            update: 0,
            delete: 0,
        },
        {
            label: "Page",
            name: "page",
            index: 0,
            create: 0,
            edit: 0,
            update: 0,
            delete: 0,
        },
    ];

    public itemChanged(item: PermissionItemInterface) {
        const element = _find(this.modulePermissions, (o: ModulePermissionInterface) => {
            return o.name === item.parent;
        });
        if (item.action) {
            this.$set(element, item.action, item.value);
        } else {
            _merge(element, {
                index: item.value,
                create: item.value,
                edit: item.value,
                update: item.value,
                delete: item.value,
            });
        }
        this.$emit("change", this.modulePermissions);
    }

    public mounted() {}
}
</script>