<div>
    <a-button v-if="files.length===0 || multiple" type="primary" class="btn-choose-files"
        @click.prevent="isFileChooserActive=true">
        Choose file
        <a-icon type="picture" />
    </a-button>
    <div v-for="(file, index) in files" v-bind:key="index" :class="`choosed-file ${multiple ? 'multiple' : ''}`">
        <img v-bind:src="$fs.getFilePathThumb(file)">
        <a-button @click="removeFile(index)" class="close" shape="circle" type="danger" icon="close"></a-button>
    </div>

    <a-modal class="choose-file-modal" :footer="null" v-model="isFileChooserActive" title="Zarządzanie plikami">
        <media-manager :pickFile="true" @file-inserted="fileInserted"></media-manager>
    </a-modal>
</div>