<template>
     <div class="media-manager">
        <media-upload></media-upload>
        <a-row :gutter="30">
            <a-col :span="6">
                <media-tree></media-tree>
            </a-col>
            <a-col :span="18">
                <media-table :pickFile="pickFile" @file-inserted="fileInserted"></media-table>
            </a-col>
        </a-row>
    </div>
</template>

<script lang="ts">
import {Component,Vue, Emit, Prop} from 'vue-property-decorator';
import MediaUpload from '@/modules/media/components/MediaUpload.vue';
import MediaTree from '@/modules/media/components/MediaTree.vue';
import MediaTable from '@/modules/media/components/MediaTable';
import File from '../models/File';
@Component({
    components:{
        MediaTable,
        MediaTree,
        MediaUpload,
    }
})
export default class MediaManager extends Vue {
    @Prop({default: false})
    pickFile: boolean;

    @Emit()
    fileInserted(file: File){
        return file;
    }
}
</script>
