<div class="media-table">


    <a-table :columns="columns" :dataSource="files" v-on:change="handleTableChange" :pagination="pagination">
        <a slot="name" slot-scope="text" href="javascript:;">{{text}}</a>
        <span slot="thumb" slot-scope="record">
            <file-thumb-link :fileObject="record"></file-thumb-link>
        </span>
        <span slot="action" slot-scope="record">
            <span v-if="pickFile">
                <a-button type="primary" shape="circle" icon="plus" @click="insertFile(record)"> </a-button>
            </span>
            <span v-else>
                <a-button type="danger" shape="circle" icon="delete" @click="deleteFile(record)"> </a-button>
            </span>
        </span>

    </a-table>
</div>