<template>
    <div class="media-upload">
        <a-upload-dragger
            :defaultFileList="fileList"
            :action="postUrl"
            name="file"
            :multiple="true"
            @change="handleUploaderChange"
            :data="{path: path}"
            :showUploadList="true"
        >
            <p class="ant-upload-drag-icon">
                <a-icon type="inbox" />
            </p>
            <p class="ant-upload-text">Click or drag file to this area to upload</p>
            <p class="ant-upload-hint"></p>
        </a-upload-dragger>
        <button
            class="button"
            v-show="$refs.upload && $refs.upload.active"
            @click.prevent="$refs.upload.active = false"
            type="button"
        >Stop upload</button>
        <ul>
            <li v-for="(file, index) in fileList" :key="index">
                {{file.name}} - Error: {{file.error}}, Success:
                {{file.success}}
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Dragger from "ant-design-vue/lib/upload/Dragger.js";
@Component({
    components: {
        "a-upload-dragger": Dragger
    }
})
export default class MediaUpload extends Vue {
    public fileList: object[] = [];

    get postUrl() {
        return `${process.env.VUE_APP_APIURL}/media/upload`;
    }
    get path() {
        return this.$store.getters["media/path"];
    }

    public handleUploaderChange({ file }: any) {
        const status = file.status;
        if (status === "done") {
            this.$message.success(`${file.name} file uploaded successfully.`);
            this.$store.dispatch('media/getFiles');
        } else if (status === "error") {
            this.$message.error(`${file.name} file upload failed.`);
        }
    }
}
</script>
