<template>
    <a-layout-sider width="256px" :trigger="null" collapsible v-model="collapsed">
        <div>
            <router-link @click.native="resetSidebarKeys" class="logo" v-bind:to="{name: 'deskop'}">ERIBU</router-link>
        </div>
        <a-menu
            :theme="theme"
            mode="inline"
            :selectedKeys="selectedKeys"
            :openKeys="openKeys"
            @openChange="onOpenChange"
            @select="menuSelected"
        >
            <a-menu-item key="deskop">
                <a-icon type="dashboard"/>
                <router-link v-bind:to="{name: 'deskop'}">
                    <span>Deskop</span>
                </router-link>
            </a-menu-item>
            <!-- <a-menu-item key="customers">
        <a-icon type="pie-chart"/>
        <router-link v-bind:to="{name: 'customers'}">
          <span>Clients</span>
        </router-link>
            </a-menu-item>-->
            <a-menu-item key="media">
                <a-icon type="folder"/>
                <router-link v-bind:to="{name: 'media'}">
                    <span>Media</span>
                </router-link>
            </a-menu-item>
            <a-sub-menu key="pages">
                <span slot="title">
                    <a-icon type="snippets"/>
                    <span>Pages</span>
                </span>
                <a-menu-item key="page.pages.index">
                    <router-link v-bind:to="{name: 'page.pages.index'}">Pages list</router-link>
                </a-menu-item>
                <a-menu-item key="page.pages.create">
                    <router-link v-bind:to="{name: 'page.pages.create'}">Create page</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="blocks">
                <span slot="title">
                    <a-icon type="form"/>
                    <span>Blocks</span>
                </span>
                <a-menu-item key="page.blocks.index">
                    <router-link v-bind:to="{name: 'page.blocks.index'}">Blocks list</router-link>
                </a-menu-item>
                <a-menu-item key="page.blocks.create">
                    <router-link v-bind:to="{name: 'page.blocks.create'}">Create block</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="menu">
                <span slot="title">
                    <a-icon type="form"/>
                    <span>Menu</span>
                </span>
                <a-menu-item key="page.blocks.index">
                    <router-link v-bind:to="{name: 'menu.root.index'}">Menu list</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="product">
                <span slot="title">
                    <a-icon type="shopping-cart"/>
                    <span>Products</span>
                </span>
                <a-menu-item key="product.products.index">
                    <router-link v-bind:to="{name: 'product.products.index'}">Products list</router-link>
                </a-menu-item>
                <a-menu-item key="product.products.create">
                    <router-link v-bind:to="{name: 'product.products.create'}">Add Product</router-link>
                </a-menu-item>
                <a-menu-item key="product.categories.index">
                    <router-link v-bind:to="{name: 'product.categories.index'}">Categories list</router-link>
                </a-menu-item>
                <a-menu-item key="product.categories.create">
                    <router-link v-bind:to="{name: 'product.categories.create'}">Add Category</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="users">
                <span slot="title">
                    <a-icon type="team"/>
                    <span>Users</span>
                </span>
                <a-menu-item key="user.users.index">
                    <router-link v-bind:to="{name: 'user.users.index'}">Users list</router-link>
                </a-menu-item>
                <a-menu-item key="user.users.create">
                    <router-link v-bind:to="{name: 'user.users.create'}">Create user</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="roles">
                <span slot="title">
                    <a-icon type="unlock"/>
                    <span>Roles</span>
                </span>
                <a-menu-item key="user.roles.index">
                    <router-link v-bind:to="{name: 'user.roles.index'}">Roles list</router-link>
                </a-menu-item>
                <a-menu-item key="user.roles.create">
                    <router-link v-bind:to="{name: 'user.roles.create'}">Create role</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu key="blog">
                <span slot="title">
                    <a-icon type="snippets"/>
                    <span>Blog</span>
                </span>
                <a-menu-item key="blog.posts.index">
                    <router-link v-bind:to="{name: 'blog.posts.index'}">Posts list</router-link>
                </a-menu-item>
                <a-menu-item key="blog.posts.create">
                    <router-link v-bind:to="{name: 'blog.posts.create'}">Create post</router-link>
                </a-menu-item>
                <a-menu-item key="blog.categories.index">
                    <router-link v-bind:to="{name: 'blog.categories.index'}">Categories list</router-link>
                </a-menu-item>
                <a-menu-item key="blog.categories.create">
                    <router-link v-bind:to="{name: 'blog.categories.create'}">Create category</router-link>
                </a-menu-item>
            </a-sub-menu>
        </a-menu>
    </a-layout-sider>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";

@Component({})
export default class Sidebar extends Vue {
    @Prop()
    public collapsed!: boolean;
    @Prop()
    public theme!: string;
    get selectedKeys() {
        return this.$store.state.selectedKeys;
    }
    get openKeys() {
        return this.$store.state.openKeys;
    }
    public onOpenChange(openKeys) {
        console.log(openKeys, "openkeys");

        if (!this.collapsed) {
            const latestOpenKey = openKeys.find(
                key => this.openKeys.indexOf(key) === -1
            );
            this.$store.commit("setSidebarOpenKeys", [latestOpenKey]);
        } else {
            this.$store.commit("setSidebarOpenKeys", openKeys);
        }
    }
    resetSidebarKeys() {
        this.$store.commit("setSidebarSelectedKeys", []);
        this.$store.commit("setSidebarOpenKeys", []);
    }

    @Watch("collapsed")
    public onChange(val) {
        if (val) {
            this.$store.commit("setSidebarOpenKeys", []);
        } else {
            const openKeys = this.$route.name.split(".");
            this.$store.commit(
                "setSidebarOpenKeys",
                openKeys.length > 1 ? openKeys : []
            );
        }
    }
    public menuSelected({ key }) {
        this.$store.commit("setSidebarSelectedKeys", [key]);
    }
}
</script>

<style lang="less">
#components-layout-demo-side .logo {
    background: #002140;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 17px 0;
    display: block;
}

.ant-layout-sider {
    .ant-menu-item {
        a {
            color: #fff;
            display: inline;
        }
    }

    .ant-menu-inline-collapsed {
        a {
            display: block;
        }
    }
}
</style>
