<template>
<div class="user-wrapper">
  <!-- <header-notice class="action" /> -->
  <a-dropdown>
    <span class="action ant-dropdown-link user-dropdown-menu">
      <a-avatar v-if="avatar" class="avatar" size="small" :src="avatar" />
      <a href="#"> {{ fullname }} </a>
      <a-icon type="down" />
    </span>
    
    <a-menu slot="overlay" class="user-dropdown-menu-wrapper">
      <a-menu-item key="0">
        <router-link :to="{ name: 'user.users.edit', params:{id:user._id} }">
          <a-icon type="user" />
          <span>Profile</span>
        </router-link>
      </a-menu-item>
      <a-menu-item key="1">
        <router-link :to="{ name: 'deskop' }">
          <a-icon type="setting" />
          <span>Setting</span>
        </router-link>
      </a-menu-item>

      <a-menu-divider />
      <a-menu-item key="3">
        <a @click.prevent="logout" href="#">
          <a-icon type="logout" />
          <span>Logout</span>
        </a>
      </a-menu-item>
    </a-menu>
  </a-dropdown>
</div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
} from 'vue-property-decorator';
@Component
export default class UserMenu extends Vue {

  get fullname() {
    return this.$store.getters.fullName;
  }

  get avatar() {
    return this.$store.getters.avatar;
  }

  get user() {
    return this.$store.state.currentUser;
  }

  public login() {
    setTimeout(() => {
      this.$router.push({
        name: 'login',
      });
    }, 500);
  }
  public logout() {
    localStorage.removeItem('jwt');
    this.$message.success('Successfully logged out!');
    this.$router.push({
      name: 'login',
    });
  }
}
</script>

<style lang="less">
.user-wrapper {
    padding: 0 16px;
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.025);
    }
    .ant-dropdown-link {
        display: table;
    }
}

.ant-avatar {
    margin-right: 10px!important;
}
.user-dropdown-menu {
    span {
        user-select: none;
    }
}
.user-dropdown-menu-wrapper.ant-dropdown-menu {
    padding: 4px 0;
    width: auto;
    margin-left: auto;
    display: table;
    .ant-dropdown-menu-item {
        min-width: 160px;
    }

    .ant-dropdown-menu-item > .anticon:first-child,
    .ant-dropdown-menu-item > a > .anticon:first-child,
    .ant-dropdown-menu-submenu-title > .anticon:first-child .ant-dropdown-menu-submenu-title > a > .anticon:first-child {
        min-width: 12px;
        margin-right: 8px;
    }

}
</style>
