<div>

    <a-form :form="form">
        <a-row :gutter="15">
            <a-col :span="16">
                <div class="box">
                    <a-form-item label="Name">
                        <a-input v-decorator="formData.name" placeholder="Name" />
                    </a-form-item>
                    <a-form-item required label="Slug" class="input-slug">
                        <a-input v-decorator="formData.slug" placeholder="Slug">
                            <span class="generateSlug" @click="generateSlug('name')" slot="addonBefore">Generate</span>
                        </a-input>
                    </a-form-item>
                
                    <action-buttons @back="back" @submit="submit"></action-buttons>
                </div>
            </a-col>
            <a-col :span="8">
                <div class="box">
                    <a-form-item label="Thumbnail">
                        <file-chooser v-decorator="formData.thumbnail"></file-chooser>
                    </a-form-item>
                </div>
            </a-col>
        </a-row>
    </a-form>
</div>
