<template>
  <div>
    <a @click.prevent="edit" class="action-edit" href="#">
      Edit
      <a-icon type="edit"/>
    </a>
    <a-popconfirm
      title="Are you sure?"
      @confirm="deleteItem"
      @cancel="cancel"
      okText="Yes"
      cancelText="No"
    >
      <a class="action-delete" href="#">
        Delete
        <a-icon type="delete"/>
      </a>
    </a-popconfirm>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from "vue-property-decorator";
import { Popconfirm } from "ant-design-vue";
Vue.use(Popconfirm);

@Component({})
export default class Actions extends Vue {
  @Emit()
  public edit() {}
  @Emit('deleteItem')
  public deleteItem() {}

  public cancel() {
    this.$message.error("Canceled");
  }
}
</script>
