<div>
    <div class="box">
        <a-row :gutter="15">
            <a-col :span="6">
                <a-input-search placeholder="search..." class="width-100" @search="onSearch" v-model="searchInput" />
            </a-col>
            <a-col :offset="12" :span="6">
                <router-link class="add-resource" :to="{name: 'menu.root.create'}">
                    <a-button type="primary">
                        <b>Add menu</b>
                    </a-button>
                </router-link>
            </a-col>
        </a-row>
        <a-table :pagination="pagination" :loading="loading" rowKey="_id" :columns="columns" :dataSource="items"
            @change="handleTableChange">
            <a href="#" slot="name" slot-scope="record" @click.prevent="goToEdit(record._id)">
                {{ record.name }}
            </a>
            <a href="#" slot="slug" slot-scope="record" @click.prevent="goToEdit(record._id)">
                {{ record.slug }}
            </a>
            <span slot="createdAt" slot-scope="createdAt">{{createdAt | formatDate}}</span>
            <span slot="actions" slot-scope="record">
                <actions @edit="goToEdit(record._id)" @deleteItem="deleteItem(record._id)"></actions>
            </span>
        </a-table>
    </div>

</div>