<div class="login-page">
    <div class="box">
        <h1>ERIBU</h1>
        <h2><b>Logowanie</b></h2>
        <a-form :form="form" class="login-form" >
            <a-form-item>
                <a-input v-decorator="formData.email" placeholder="E-mail">
                    <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
                </a-input>
            </a-form-item>
            <a-form-item>
                <a-input v-decorator="formData.password" type="password" placeholder="Password">
                    <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
                </a-input>
            </a-form-item>
            <a-form-item>
                <a-checkbox v-decorator="formData.remember">Remember me</a-checkbox>
                <a class="login-form-forgot" href>Forgot password</a>
                <a-button type="primary" @click.prevent="submit" class="login-form-button">Log in</a-button>
                <router-link :to="{name: 'register'}">Register now</router-link>
            </a-form-item>
        </a-form>
    </div>
</div>